@use 'variables' as vars
@use 'breakpoint' as bp
@use 'slider'
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap')

body
    font-family: "Karla", sans-serif
    font-optical-sizing: auto
    background-color: vars.$green_200
    color: vars.$gray_900
    font-style: normal

.fw400
    font-weight: 400
    
.fw600
    font-weight: 600

.fw700
    font-weight: 700

.error
    display: none
    color: vars.$red

.error_consent.active, .error_message.active, .error_query_type.active, .error_last_name.active, .error_first_name.active, .error_email.active
    display: block

.success_message
    display: none

.success_message.active
    display: block

.attribution_h2
    text-align: center
    padding: 0.5rem vars.$spacing_3
    font-size: clamp(0.875rem, 2vw, 0.94rem)
    text-wrap: initial

.attribution a
    color: vars.$red

@include bp.breakpoint(48rem)
    

    